@model SitecoreSpark.SPRK.ViewModels.PublishQueueViewModel
@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "Publish Queue - Incremental";
}

@Html.Partial("~/Views/SPRK/Shared/_MainMenu.cshtml")

<div class="container">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container content">

    @if (Model.CandidateItems.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Language</th>
                    <th>Action</th>
                    <th>Source DB</th>
                    <th>Target DB</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CandidateItems)
                {
                    <tr>
                        <td>@item.ItemID</td>
                        <td>@item.Language</td>
                        <td>@item.Action</td>
                        <td>@item.SourceDatabase</td>
                        <td>@item.Targetdatabase</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="message info center">
            Publish Queue is empty.
        </div>
    }

</div>