@model SitecoreSpark.SPRK.ViewModels.LogDetailViewModel
@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "View Log" + "DATE";
}

@if (Model.Rows.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Mode</th>
                <th>Result</th>
                <th>User</th>
                <th>Source DB</th>
                <th>Target DB</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>

            @foreach (SitecoreSpark.SPRK.ViewModels.LogRowViewModel row in Model.Rows)
            {
                <tr>
                    <td class="mono">@row.ItemID</td>
                    <td>@row.Mode</td>
                    <td>@row.Result</td>
                    <td>@row.UserName</td>
                    <td>@row.SourceDB</td>
                    <td>@row.TargetDB</td>
                    <td>@row.DateTime</td>
                </tr>
            }

        </tbody>
    </table>
}