@model List<string[]>
@{
    Layout = "~/Views/SPRK/Shared/_Layout.cshtml";
    ViewBag.Title = "View Log" + "DATE";
}

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Mode</th>
                <th>Result</th>
                <th>User</th>
                <th>Source DB</th>
                <th>Target DB</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>

            @foreach (string[] row in Model)
            {
                <tr>
                    <td class="mono">@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                </tr>
            }

        </tbody>
    </table>
}